[
  {
    "supplier_id": "SFP",
    "supplier_name": "Secretaría de la Función Pública",
    "system_id": 2,
    "type": "GRAPHQL",
    "levels": [
      "federal"
    ],
    "url": ""
  },
  {
    "supplier_id": "EDOPUE",
    "supplier_name": "Sistema Estatal Anticorrupción del Estado de Puebla",
    "system_id": 2,
    "type": "REST",
    "level": [
      "estatal"
    ],
    "url": "",
    "entities_url": "",
    "token_url": "",
    "username": "",
    "password": "",
    "client_id": "",
    "client_secret": ""
  }
]
