[
  {
    "system_id": 2,
    "type": "REST",
    "level": [
      "federal"
    ],
    "supplier_name": "Secretaría de la Función Pública",
    "url": "",
    "entities_url": "",
    "token_url": "",
    "username": "",
    "password": "",
    "client_id": "",
    "client_secret": ""
  },
  {
    "system_id": 2,
    "type": "REST",
    "level": [
      "estatal"
    ],
    "supplier_name": "Sistema Estatal Anticorrupción del Estado de Fuebla",
    "url": "",
    "entities_url": "",
    "token_url": "",
    "username": "",
    "password": "",
    "client_id": "",
    "client_secret": ""
  }
]
